

ul.links_list{
    display: flex;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul.links_list li {
    margin-right: 10px;
}
ul.links_list li:last-child {
    margin-right: 0;
}
