$dark-blue: #070724;
$white: #FFFFFF;

// Planets 

$space-gray: #38384F;
$gray: #838391;//Mercury
$light-blue: #419EBB;
$yellow: #EDA249; // Venus
$purple: #6F2ED6; // Earth
$orange: #D14C32; // Jupiter
$red: #D83A34; // Mars
$light-orange: #CD5120; //Saturno
$green: #1EC2A4; //Uranus
$blue: #2D68F0; //Neptune
